	<section class="service container">
		<h2>Услуги компании</h2>
			<div class="left-service wow fadeInLeft">
				<img src="img/%D0%A4%D0%B8%D0%B3%D1%83%D1%80%D0%B0-1.png" alt="">
				<p>Текущий отцепочный ремонт вагонов в объеме тр-1, тр-2</p>
			</div>
			<div class="right-service wow fadeInRight">
				<img src="img/%D0%A4%D0%B8%D0%B3%D1%83%D1%80%D0%B0-2.png" alt="">
				<p>Подготовка вагонов-цистерн <br>в ремонт и под налив.</p>
			</div>
	</section>