	<section class="advantage">
		<div class="container">
			<h2>Преимущества нашей компании</h2>
			<div class="advantage-icons ">
				<div class="icon wow fadeInDownBig">
					<div class="icon-container"><img src="img/Forma-1.png" alt=""></div>
					<p>удобное местоположение</p>
				</div>
				<div class="icon wow fadeInUpBig">
					<div class="icon-container"><img src="img/a.png" alt=""></div>
					<p>Профессиональные кадры</p>
				</div>
				<div class="icon wow fadeInDownBig">
					<div class="icon-container "><img src="img/Forma-2.png" alt=""></div>
					<p>Оперативный ремонт</p>
				</div>
				<div class="icon wow fadeInUpBig">
					<div class="icon-container "><img src="img/Shape-4.png" alt=""></div>
					<p>Оперативная доставка запчастей</p>
				</div>
			</div>
		</div>
	</section>