	<section class=" container">
		<div class="rewiev">
			<h3>Отзывы о работе</h3>
			<div class="person wow fadeIn">
				<img src="img/person.png" alt="">
				<h5>Иван Иванов</h5>
				<p>Красивая архитектура, чисто и уютно, есть что посмотреть. Оставляет массу положительных впечатлений.</p>
			</div>
			<div class="person wow fadeIn">
				<img src="img/person2.png" alt="">
				<h5>Лиля Захарова</h5>
				<p>Обалденное депо, шикарная обстановка, качественные виды материалов, куча деталей и услуг</p>
			</div>
		</div>
	</section>
