	<footer>
		<div class="footer">
			<div class="footer-info">
				<div class="footer-info_container">
					<h2>Контакты и местоположение</h2><div class="footer-container">

						<ul class="footer-left">
							<li>Телефон</li>
							<li>Адресс</li>
							<li>Почта</li>
						</ul>
						<ul class="footer-right">
							<li>+7 (911)-001-52-07</li>
							<li>м. Старая деревня</li>
							<li>depospb@saintbook.su</li>
						</ul>
					</div>
					<hr class='footer-hr'>
					<div class="footer-bottom">Сайт создан при поддержки SaintBook и We2Beast</div>

				</div>
			</div>
			<div class="footer-map">
				<img src="img/pam.png" alt=""

			</div>
		</div>
	</footer>
	<script src='main.js'></script>
</body>
</html>
