body
	font-family: HelveticaNeueCyrThin
	letter-spacing: .1rem
img
	max-width: 100%
	height: auto
.container
	max-width: 1170px
	margin: auto
button
	color: inherit
li
	list-style-type: none
*
	margin: 0
	padding: 0
	box-sizing: border-box
.hidden
	display: none
@font-face 
	font-family: 'HelveticaNeueCyrBold'
	src: url('../fonts/HelveticaNeueCyr-Bold.otf')
@font-face 
	font-family: 'HelveticaNeueCyrThin'
	src: url('../fonts/HelveticaNeueCyr-Thin.otf')
@font-face 
	font-family: 'HelveticaNeueCyrReg'
	src: url('../fonts/HelveticaNeueCyr-Black.otf')
@font-face 
	font-family: 'HelveticaNeueCyrRom'
	src: url('../fonts/HelveticaNeueCyr-Roman.otf')

	//font-weight: 500
// @font-face
// 	font-family: 'HelveticaNeueCyr'
// 	src: url('../font/Dosis/Dosis-bold.woff')
// 	font-weight: 700
// 	font-style: normal
// @font-face
// 	font-family: 'HelveticaNeueCyr'
// 	src: url('../font/Dosis/Dosis-bold-italic.woff')
// 	font-weight: 700
// 	font-style: italic
// body
// 	font-family: 'Dosis'
