.advantage
	background: url(../img/image.png) no-repeat 0 0
	background-size: cover
	min-height: 468px
	h2
		color:  #fff
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
		padding-top: 59px
		letter-spacing: .175rem
	p
		color:  #ffffff
		font-size: 18px
		line-height: 30px
		text-transform: uppercase
.advantage-icons
	margin-top: 101px
	display: flex
	flex-flow: wrap
	justify-content: space-around
.icon
	width: 200px
	height: 229px
	text-align: center
	&:last-child
		p
			width: 225px
			margin-left: -30px
.icon-container
	height: 178px

@media screen and (max-width: 950px)
	.advantage
		text-align: center
	.icon
		margin-bottom: 20px