.first
	background: url(../img/train.png) no-repeat 50% 0
	background-size: cover
	min-height: 700px
header
	background: #1c1b20
.header
	display: flex
	height: 50px
	justify-content: space-between
	align-items: center
	text-transform: uppercase
	h3
		padding-left: 46px
		color: #fff
		font:500 16px / 16px HelveticaNeueCyrRom
		line-height: 50px
		background: url(../img/logo.png) no-repeat 0 50%
		letter-spacing: .1rem
	a
		font-size: 12px
		color: #ee3e02
		text-decoration: none
		font-family: HelveticaNeueCyrThin
		letter-spacing: .1rem

nav
	background-color:  rgba(38, 39, 43, 0.9)
	position: relative
menu
	min-height: 60px
	max-width: 727px
	display: flex
	flex-flow: wrap
	justify-content: space-between
	align-items: center
	li
		margin-top: -4px
	a
		color: #afafb7
		font-size: 14px
		text-decoration: none
		letter-spacing: .11rem
	.active
		color: #fff
	a:hover
		color: #fff
		transition: color .5s
.hidden-menu
	position: relative
	display: none
	width: 40px
	height: 30px
	margin-left: auto
	border: 1px solid #131415
	border-radius: 5px
	cursor: pointer
	&::before
		content: ''
		position: absolute
		top: 5px
		left: 5px
		width: 74%
		height: 2px
		background-color: #FFF
		box-shadow: 0 8px 0 rgb(255,255,255), 0 16px 0 rgb(255,255,255)
.header-center
	padding-top: 214px	
	display: flex
	flex-flow: wrap
	justify-content: space-between
	h2
		width: 400px
		flex-grow: 1
		font: 36px / 48px HelveticaNeueCyrBold
		letter-spacing: .06rem
		max-width: 580px
		color: #1c1b20

.form
	background-color:  rgba(28, 27, 32, 0.7)
	width: 500px
	height: 389px
	padding: 43px 30px 0
	color: #fff
	margin-top: -13px
	letter-spacing: 0.02rem
	h3
		font-size: 18px
		font-weight: 800
		margin-bottom: 20px
		text-transform: uppercase
		font-family: HelveticaNeueCyrBold
	input
		margin-top: 18px
		border-radius: 3px
		background-color: #ffffff
		width: 100%
		height: 40px
		color:  #636363
		font-size: 14px
		padding: 15px 10px
		border: 0
	p:nth-of-type(2)
		margin-top: 31px;
	label
		font-size: 12px
	button
		border-radius: 3px
		display: block
		background-color:  #f13700
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25), 0px 1px 3px 0px rgba(0, 0, 0, 0.25)
		width: 140px
		height: 40px
		border: none
		font-size: 14px
		margin: 39px 0 0 auto
		text-transform: uppercase
hr
	background-color:  #f13700
	height: 5px


@media screen and (max-width: 950px)
	.header-center
		padding-top: 40px
		flex-direction: column		
		justify-content: flex-start
		align-items: center
		h2
			max-width: 100%
			padding-bottom: 40px
			text-align: center

@media screen and  (max-width: 759px)
	.header
		h3
			padding-left: 46px
			color: #fff
			font: 10px / 12px HelveticaNeueCyrRom
		a
			font-size: 10px
	menu
		display: none
		position: absolute
		right: 0
		background-color: rgba(38, 39, 43, 0.9)
		a
			padding: 10px 20px
			display: block
	.hidden-menu
		display: block
	.header-center
		padding-top: 10px
		justify-content: space-between
		h2
			padding-bottom: 10px
			font-size: 14px
			line-height: 1.4rem
	.form
		width: initial
		max-width: 500px
		margin-top: 0
