footer
	background-color: #1c1b20
	color: #fff
.footer
	display: flex
.footer-info_container
	max-width: 499px
	margin-left: auto
	padding-right: 30px
.footer-info
	width: 43.6%
	h2
		padding: 58px 0 46px
		text-transform: uppercase
		font-size: 18px
		font-family: HelveticaNeueCyrBold
.footer-container
	display: flex
	justify-content: space-between
	font-size: 14px
	line-height: 30px
	text-transform: uppercase
.footer-right
	text-align: right
	color: #f13700
.footer-map
	width: 56.4%
	overflow: hidden
	img
		height: 100%
.footer-hr
	background-color:  #3e3f44
	height: 1px
	margin-top: 46px
.footer-bottom
	height: 60px
	line-height: 60px
	background: url(../img/Logo-VIDE-STUDIO.png) no-repeat right center
	font-size: 12px
	img
		float: right

@media screen and (max-width: 950px)
	.footer
		flex-flow: column wrap
		justify-content: flex-start
	.footer-info
		order: 1
	.footer-info, .footer-map
		width: 100%
	.footer-info_container
		padding: 0 20px
		max-width: 100%
		li
			font-size: 10px

@media screen and (max-width: 759px)
	.footer-info_container
		padding: 0
		li
			font-size: 10px
			letter-spacing: 0