.rewiev
	min-height: 393px
	display: flex
	flex-flow: wrap
	align-content: flex-start
	h3
		padding: 58px 0 54px
		text-transform: uppercase
		font-size: 18px
		width: 100%
		font-family: HelveticaNeueCyrBold
.person:first-of-type
	margin-right: 35px
.person
	width: 365px
	flex-grow: 1
	height: 125px
	max-width: 565px
	margin-bottom: 20px
	img
    border-radius: 50%
    float: left
    height: 125px
    padding-right: 25px
    width: 150px

	h5
		color: #2f3035
		font-size: 16px
	p
		margin-top: 15px
		color: #636363
		font-size: 14px
		line-height: 24px


@media screen and (max-width: 950px)
	.rewiev
		flex-direction: column
		justify-content: flex-start
		align-items: center
		text-align: center
		.person
			margin: 0 0 20px 0
			height: auto
			width: 500px
			text-align: left

@media screen and (max-width: 759px)
	.rewiev
		.person
			width: initial
			text-align: center
		img
			float: initial
