.service
	min-height: 467px
	margin: auto
	background-color: #ffffff
	display: flex
	flex-flow: wrap
	justify-content: space-between
	padding: 60px  0 0 0
	font-family: HelveticaNeueCyrBold
	letter-spacing: .09rem
	h2
		color:  #2f3035
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
		width: 100%
		padding-bottom: 79px
	p
		margin-top: 74px
		text-transform: uppercase
		font-size: 18px
		line-height: 30px
		padding-bottom: 16px
		letter-spacing: .08rem
.left-service
	margin-left: 118px
	width: 360px
.right-service
	margin: -14px 79px 0 0
	width: 352px
	p
		margin: 54px 0 0 -29px
@media screen and (max-width: 950px)
	.service
		flex-direction: column
		justify-content: flex-start
		text-align: center
		align-items: center
	.left-service
		margin-left: 0
	.right-service
		margin: 0

@media screen and (max-width: 750px)	
	.service
		padding: 0
		h2
			padding: 20px 0
		p
			margin: 0
	.left-service, .right-service
		width: initial
